Content/BlockGame
Content/Hour_of_Code
Content/LearningKit_Games
Content/LearningKit_Robots
Content/SCK_Casual01
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace